@import url('https://fonts.cdnfonts.com/css/ocr-a-extended');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');  


html{
  background-color: #0D0D0D;
  font-family: 'OCR A Extended', sans-serif;
  overflow: hidden

}


.main{
  background-color: #0D0D0D;
  font-family: 'OCR A Extended', sans-serif;
  overflow: hidden
}
